apiVersion: v1
items:
- apiVersion: networking.k8s.io/v1
  kind: Ingress
  metadata:
    generation: 1
    labels:
    name: env-{{ .Values.unique }}-ingress
  spec:
    ingressClassName: bns-nginx
    rules:
    - host: bunny-{{.Values.unique}}.bunnyenv.com
      http:
        paths:
        - backend:
            service:
              name: bunny
              port:
                number: 3000
          path: /
          pathType: Prefix
kind: List
metadata:
  resourceVersion: ""